html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
}
*{
    font-family: 'Poppins', sans-serif;
}
.nav{
    width: 100%;
    margin: auto;
    /* border: 1px solid; */
    display: flex;
    position: fixed;
    padding-left: 2%;
}
.nav>div:nth-child(1){
    /* border: 1px solid; */
    width: 35%;
    display: flex;
    align-items: center;
    color: white;
}
.nav>div:nth-child(3){
    /* border: 1px solid white; */
    width: 60%;
}
.nav>div:nth-child(3)>div{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.nav h3{
    font-size:medium;
    color: white;
    cursor: pointer;
    font-weight: normal;
}
.nav a{
    text-decoration: none;
    color: white;
}

.nav>div:nth-child(3)>div>a>div{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    height: 70%;
    transition: 1s;
    cursor: pointer;
}

.nav>div:nth-child(3)>div>a>div>h3{
    width: 100%;
    text-align: center;
}

.nav>div:nth-child(3)>div>a>div:hover{
    background-color: gray;
    color: rgb(100, 154, 172);
}
.nav img{
    width: 50%;
    cursor: pointer;
}

/* ---------------------------------------------------- */

html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.scrollarea{
    background-color: rgb(22, 22, 22);
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background-image: url('./images/bg9.jpg');
    background-size: 100%;
    background-repeat: repeat;
}

.home-section,.about-section,.github,.projects-section,.skills-section,.contact-section{
    scroll-snap-align: start;
}

.home-section{
    height: 100vh;
    width: 100%;
    background-image: url('./images/aeroplanebg.jpeg');
    background-size: 100%;
    background-repeat: repeat;
    display: flex;
    align-items: center;
}
.home-section>div{
    width: 100%;
    text-align: center;
}
.home-section>div>img{
    display: block;
    margin: auto;
    width: 15%;
    /* border: 1px solid; */
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.575);
}
.home-section h1{
    font-size: 50px;
    line-height: 0.05em;
    color: white;
}
.home-section p{
    color: white;
}
.about-section{
    height: 100vh;
    width: 100%;
    background-color: rgb(22, 22, 22);
    display: flex;
    padding-top: 2%;
    background-image: url('./images/bg2.jpeg');
    background-size: 100%;
    background-repeat: repeat;
    /* font-size: 95%; */
}
.about-section>div:nth-child(1){
    /* border: 1px solid; */
    width: 40%;
    display: flex;
    align-items: center;
}
.about-section>div:nth-child(2){
    /* border: 1px solid; */
    width: 50%;
    padding-top: 5%;
    color: white;
    margin-left: 3%;
    line-height: 1.1em;
}
.about-section h3{
    color: rgb(211, 43, 65);
}
.about-section img{
    width: 80%;
    display: block;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.068);
    border: 2px solid white;
}
.details{
    width: 100%;
    margin: auto;
    display: flex;
    border: 1px solid rgb(211, 43, 65);
    padding: 2%;
    padding-left: 3%;
    
}
.details>div{
    width: 50%;
}
.details a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}
.about-section button{
    margin-top: 3%;
    height: 30px;
    border: 0px;
    color: white;
    background-color: rgb(211, 43, 65);
    cursor: pointer;
}
.projects-section{
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 22, 22);
    padding-top: 5%;
    color: white;
    margin-bottom: 0px;
    background-image: url('./images/bg2.jpeg');
    background-size: 100%;
    background-repeat: repeat;
    
}
.projects-section>div:nth-child(1){
    width: 90%;
    /* border: 1px solid; */
    margin:auto;
}
.gallery{
    width: 90%;
    margin: auto;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2%;
    margin-top: 2%;
}
.gallery>div{
    height: 70vh;
    /* border: 1px solid white; */
    background-color: rgb(39, 39, 39);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    transition: 0.25s;
}
.gallery>div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* .gallery img{
    width: 100%;
} */
.image{
    width: 100%;
    /* height: 100%; */
    /* border: 1px solid white; */
    height: 45%;
    display: flex;
    align-items: center;
}
.image img{
    width: 90%;
    display: block;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.25s;
}
.image img:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.info{
    border: 1px solid transparent;
    height: 55%;
    /* display: flex;
    align-items: center; */
}
.info>div:nth-child(1){
    width: 90%;
    height: 70%;
    margin: auto;
    border: 1px solid transparent;
}
.info>div:nth-child(2){
    width: 90%;
    margin: auto;
    height: 30%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info h3{
    font-weight: normal;
    line-height: 0em;
    color: rgb(211, 43, 65);
}
.info p{
    font-size: 90%
}
.info li{
    font-size: 90%;
}
.info a{
    /* text-decoration: none; */
    color: white;
    width: 25%;
}
.info button{
    height: 30px;
    width: 110%;
    border: 1px solid rgb(211, 43, 65);
    color: white;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    border-radius: 5px;
}
.info button:hover{
    background-color: rgb(211, 43, 65);
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.skills-section{
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 22, 22);
    margin-top: 0%;
    padding-top: 5%;
    background-image: url('./images/bg6.jpeg');
    background-size: 100%;
    background-repeat: repeat;
}
.skillset{
    margin: auto;
    color: white;
    width: 90%;
    display: block;
}
.skilldiv{
    width: 90%;
    height: 73vh;
    margin: auto;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2%;
    /* border: 1px solid white; */
}
.skilldiv>div{
    /* background-color: rgb(56, 56, 56); */
    background-color: rgba(255, 255, 255, 0.171);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 70vh;
    padding-bottom: 5%;
    border-radius: 10px;
    /* border: 1px solid; */
}
.skilldiv>div:nth-child(2){
    background-color: rgba(255, 255, 255, 0.171);
    font-size: large;
    display: flex;
    align-items: center;
}
.content2{
    width: 90%;
    margin: auto;
}
.content2>h1{
    line-height: 0em;
    margin-top: 10%;
}
.content2>h2{
    font-weight: normal;
    font-size: larger;
}
.skilldiv>div:nth-child(1)>h1,.skilldiv>div:nth-child(3)>h1{
    margin-left: 5%;
    line-height: 0.5em;
}
.skilldiv>div:nth-child(1)>ul{
    line-height: 1.1em;
    font-size: large;
}
.skilldiv img{
    width: 100%;
    display: block;
    border-radius: 5px;
    transition: 0.25s;
}
.skilldiv img:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.techskills{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3%;
}
.techskills>div{
    margin-top: 5%;
    background-color: white;
    height: min-content;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contact-section{
    height: 100vh;
    width: 100%;
    background-color: rgb(22, 22, 22);
    padding-top: 5%;
    background-image: url('./images/contactbg.jpeg');
    background-size: 100%;
    background-repeat: repeat;
}
.message{
    color: white;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 7%;
}
.message>p{
    font-style: italic;
    font-size: 80%;
}
.links{
    display: flex;
    width: 100%;
    margin-top: 5%;
}
.links>div{
    width: 15%;
    margin: auto;
    display: flex;
}
.links>div>div{
    width: 50%;
    /* border: 1px solid white; */
    display: block;
}

.links img{
    width: 100%;
    cursor: pointer;
}

.email{
    color: white;
    width: 100%;
    margin-top: 5%;
}
.email>div{
    text-align: center;
}
.email a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

/* --------------github section css-------------- */

.github{
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 22, 22);
    padding-top: 5%;
    background-image: url('./images/bg3.jpeg');
    background-size: 100%;
    background-repeat: repeat;

}
/* .github img{
    width: 100%;
} */
.github>div{
    width: 90%;
    margin: auto;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-evenly;
}
.github>div>div:nth-child(1){
    width: 30%;
    /* background-color: white; */
    /* border-radius: 10px;
    margin: 2%;
    margin-top: 0%;
    margin-bottom: 0%; */
}
.github>div>div:nth-child(2){
    width: 55%;
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2%;
}

.github>div>div:nth-child(2)>img{
    width: 100%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: 1px solid transparent;
    display: block;
    border-radius: 10px;
    transition: 0.25s;
}

.github>div>div:nth-child(2)>img:hover{
    border: 1px solid white;
}

.github>div>div:nth-child(1)>div:nth-child(1){
    /* border: 1px solid white; */
    color: white;
}

.github>div>div:nth-child(1)>div:last-child{
    background-color: white;
    margin: 2%;
    border-radius: 10px;
    padding-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.github>div>div:nth-child(1)>div>img:first-of-type{
    width: 80%;
    display: block;
    margin: auto;
    cursor: pointer;
}
.github>div>div:nth-child(1)>div>h2{
    text-align: center;
}
.github>div>div:nth-child(1)>div>h2>a{
    text-decoration: none;
    color: black;
}

.github>div>div:nth-child(1)>div>img:last-of-type{
    width: 90%;
    display: block;
    margin: auto;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.profilesummary{
    grid-column-start: 1;
    grid-column-end: 3;
}
.react-activity-calendar{
    border-radius: 5px;
    border: 1px solid white;
    grid-column-start: 1;
    grid-column-end: 3;
}

#github-stats-card{
    display: none;
}

.skills-card-img{
    display: none;
}

@media all and (min-width:500px){
    .menu{
        display: none;
    }
}

@media all and (max-width:450px) and (min-width:300px){
    :root {
        --doc-height: 100%;
    }
    .scrollarea{
        height: var(--doc-height);
        /* border: 3px solid red; */
        scroll-snap-type: none;
    }

    .home-section{
        background-size: cover;
        /* height: fit-content; */
    }

    .home-section,.about-section,.github,.projects-section,.skills-section,.contact-section{
        height:60vh
    }

    .about-section,.github,.projects-section,.skills-section{
        background-image: url('./images/bg9.jpg');
        background-size: 100%;
        background-repeat: repeat;
    }

    .home-section{
        background-image: url('./images/bg11.jpg');
        background-size: 100%;
        background-repeat: repeat;
    }

    .about{
        font-size: 90%;
    }

    .about-section{
        height: 55vh;
    }

    .about-section>div:nth-child(1){
        display: none;
    }

    .about-section>div:nth-child(2){
        width: 90%;
        margin: auto;
    }

    .github{
        height: 100vh;
    }

    .github>div>div:nth-child(2){
        margin-top: 10%;
    }

    .github>div>div:nth-child(2)>img:first-of-type{
        width: 100%;
    }

    .github>div{
        display: block;
        width: 90%;
        margin: auto;
    }

    .github>div>div:nth-child(2){
        width: 100%;
        /* border: 1px solid white; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5%;
    }

    .github>div>div:nth-child(1){
        width: 100%;
    }

    .gallery{
        grid-template-columns: repeat(1,1fr);
    }

    .gallery>div{
        height: 44vh;
    }

    .image img{
        width: 70%;
    }

    .image{
        height: 50%;
    }

    .info{
        height: 50%;
    }

    /* .info>div:nth-child(1){} */

    .projects-section{
        height: auto;
        margin-bottom: 25%;
        font-size: 90%;
    }

    .skilldiv{
        grid-template-columns: repeat(1,1fr);
        height: auto;
    }

    .skills-section{
        height: auto;
        margin-bottom: 25%;
    }

    .skilldiv>div{
        height: 45vh;
    }

    .links>div{
        width: 25%;
    }

    .contact-section{
        font-size: 90%;
    }

    .scrollarea{
        height: auto;
        padding-bottom: 20%;
    }

    .menu{
        display: flex;
        margin-left: auto;
        /* margin-bottom: 5%; */
    }

    .menu img{
        width: 100%;
    }
    .nav>div:nth-child(1){
        width: 50%;
        /* border: 1px solid white; */
    }

    .nav>div:nth-child(2){
        width: 40%;
        /* border: 1px solid yellow; */
        display: flex;
        align-items: center;
    }
    .nav>div:nth-child(3){
        position: absolute;
        /* border: 1px solid red; */
        width: 90%;
        margin: auto;
        margin-top: 15%;
    }
    .nav>div:nth-child(3)>div{
        display: none;
        /* border: 1px solid green; */
        width: min-content;
        margin-left: auto;
    }
    .nav>div:nth-child(3) a{
        margin: 0px;
        line-height: 0em;
    }

    .nav>div:nth-child(3) a>div{
        border: 1px solid white;
    }

    .nav h3{
        font-size: small;
    }

    .nav{
        height: 10vh;
        /* border: 1px solid white; */
        display: flex;
        flex-wrap: wrap;
        
    }

}

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(211, 43, 65);
    border-radius: 2px;
}