*{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.scrollarea{
    background-color: rgb(22, 22, 22);
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background-image: url('./images/bg9.jpg');
    background-size: 100%;
    background-repeat: repeat;
}

.home-section,#about,.github,.projects-section,.skills-section,.contact-section{
    scroll-snap-align: start;
}

.load{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 1;
    color: white;
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
}
.load>div{
    width: 100%;
}

.menu{
    height: 30px;
    width: 30px;
    background-image: url('./images/menu_logo.gif');
    background-size: 100%;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(211, 43, 65);
    border-radius: 2px;
}

/* ----------------------------------------------------------------------------------------------------navbar----- */

.nav{
    width: 100%;
    margin: auto;
    /* border: 1px solid; */
    display: flex;
    position: fixed;
    padding-left: 2%;
}
.nav>div:nth-child(1){
    /* border: 1px solid; */
    width: 35%;
    display: flex;
    align-items: center;
    color: white;
}
.nav>div:nth-child(3){
    /* border: 1px solid white; */
    width: 60%;
}
.nav>div:nth-child(3)>div{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.nav h3{
    font-size:medium;
    color: white;
    cursor: pointer;
    font-weight: normal;
}
.nav a{
    text-decoration: none;
    color: white;
}

.nav>div:nth-child(3)>div>a>div{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    height: 70%;
    transition: 0.5s;
    cursor: pointer;
    color: rgb(100, 154, 172);
    background: linear-gradient(rgb(211, 43, 65) 0 0) right / var(--p,0) no-repeat;
    transition: .4s,background-position 0s;
}

.nav>div:nth-child(3)>div>a>div>h3{
    width: 100%;
    text-align: center;
}

.nav>div:nth-child(3)>div>a>div:hover{
    /* background-color: gray; */
    --p: 100%;
    background-position: left;
}
.nav img{
    width: 50%;
    cursor: pointer;
}

/* .nav button{
    background-color: transparent;
    border: 0px;
    width: 100%;
    cursor: pointer;
    height: 100%;
    text-align: center;
} */

/* ----------------------------------------------------------------------------------------------------home----- */

.home-section{
    height: 100vh;
    width: 100%;
    background-image: url('./images/aeroplanebg.jpeg');
    background-size: 100%;
    background-repeat: repeat;
    display: flex;
    align-items: center;
}
.home-section>div{
    width: 100%;
    text-align: center;
}
.home-section>div>img{
    display: block;
    margin: auto;
    width: 15%;
    /* border: 1px solid; */
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.575);
    box-shadow: #d3d3d3 0px 0px 5px;
    transition: 0.5s;
    cursor: pointer;
}

.home-section>div>img:hover{
    box-shadow: #d3d3d3 0px 0px 10px;
}

.home-section h1{
    font-size: 50px;
    line-height: 0.05em;
    color: white;
}
.home-section p{
    color: white;
}

/* ------------------------------------------------------------------------------------------------------about--- */

#about{
    height: 100vh;
    width: 100%;
    background-color: rgb(22, 22, 22);
    display: flex;
    padding-top: 2%;
    background-image: url('./images/bg2.jpeg');
    background-size: 100%;
    background-repeat: repeat;
    /* font-size: 95%; */
}
#about>div:nth-child(1){
    /* border: 1px solid; */
    width: 40%;
    display: flex;
    align-items: center;
}
#about>div:nth-child(2){
    /* border: 1px solid; */
    width: 50%;
    padding-top: 5%;
    color: white;
    margin-left: 3%;
    line-height: 1.1em;
}
#about h3{
    color: rgb(211, 43, 65);
}
#about img{
    width: 80%;
    display: block;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.068);
    border: 2px solid white;
}
.details{
    width: 100%;
    margin: auto;
    display: flex;
    border: 1px solid rgb(211, 43, 65);
    padding: 2%;
    padding-left: 3%;
    
}
.details>div{
    width: 50%;
}
.details a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}
#about button{
    margin-top: 3%;
    height: 40px;
    border-left: 1px solid rgb(211, 43, 65);
    border-right: 1px solid rgb(211, 43, 65);
    border-top: 0px;
    border-bottom: 0px;
    color: white;
    /* background-color: rgb(211, 43, 65); */
    cursor: pointer;
    /* transition: 0.25s; */
    background: linear-gradient(rgb(211, 43, 65) 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.08em);
    transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

#about button:hover{
    --p: 100%;
    --t: 0.3s;
    color: #fff;
}

/* -----------------------------------------------------------------------------------------------------projects---- */

.projects-section{
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 22, 22);
    padding-top: 5%;
    color: white;
    margin-bottom: 0px;
    background-image: url('./images/bg2.jpeg');
    background-size: 100%;
    background-repeat: repeat;
    
}
.projects-section>div:nth-child(1){
    width: 90%;
    /* border: 1px solid; */
    margin:auto;
}
.gallery{
    width: 90%;
    margin: auto;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2%;
    margin-top: 2%;
}
.gallery>div{
    /* height: 70vh; */
    /* border: 1px solid white; */
    background-color: rgb(39, 39, 39);
    transition: 0.25s;
    padding-bottom: 10%;
}
.gallery>div:hover{
    box-shadow: rgba(255, 255, 255, 0.445) 0px 0px 7px;
}

.image{
    width: 100%;
    /* border: 1px solid white; */
    height: 45%;
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 5%;
}
.image img{
    width: 90%;
    display: block;
    margin: auto;
    box-shadow: rgba(168, 168, 168, 0.35) 0px 0px 5px;
    transition: 0.25s;
}

.info{
    border: 1px solid transparent;
    height: 55%;
}
.info>div:nth-child(1){
    width: 90%;
    height: 70%;
    margin: auto;
    border: 1px solid transparent;
}
.info>div:nth-child(2){
    width: 90%;
    margin: auto;
    margin-top: 2%;
    height: 30%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info h3{
    font-weight: normal;
    line-height: 0em;
    color: rgb(211, 43, 65);
    margin-top: 0px;
    /* margin-bottom: 2%; */
}
.info p{
    font-size: 90%
}
.info li{
    font-size: 90%;
}
.info a{
    color: white;
    width: 25%;
}
.info button{
    height: 30px;
    width: 110%;
    border: 1px solid rgb(211, 43, 65);
    color: white;
    cursor: pointer;
    /* background-color: transparent; */
    transition: 0.5s;
    border-radius: 5px;
    color: white;
    background: linear-gradient(rgb(211, 43, 65) 0 0) right / var(--p,0) no-repeat;
    transition: .4s,background-position 0s;
}
.info button:hover{
    /* background-color: rgb(211, 43, 65); */
    /* border-color: transparent; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --p: 100%;
    background-position: left;
}

/* ----------------------------------------------------------------------------------------------------skills----- */

.skills-section{
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 22, 22);
    margin-top: 0%;
    padding-top: 5%;
    background-image: url('./images/bg6.jpeg');
    background-size: 100%;
    background-repeat: repeat;
}
.skillset{
    margin: auto;
    color: white;
    width: 90%;
    display: block;
}
.skilldiv{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2%;
    /* border: 1px solid white; */
}
.skilldiv>div{
    background-color: rgba(255, 255, 255, 0.171);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 5%;
    border-radius: 10px;
    transition:0.3s;
    /* border: 1px solid; */
}

.skilldiv>div:hover{
    box-shadow: rgba(255, 255, 255, 0.589) 0px 0px 7px;
}

/* .skilldiv>div>div{
    padding-bottom: 5%;
} */
.skilldiv>div:nth-child(2){
    background-color: rgba(255, 255, 255, 0.116);
    font-size: large;
    display: flex;
    align-items: center;
}
.content2{
    width: 90%;
    margin: auto;
}
.content2>h1{
    /* line-height: 0em; */
    margin: 0px;
    margin-top: 2%;
    /* font-size: x-large; */
}
.content2>h2{
    font-weight: normal;
    font-size: large;
    margin-top: 0px;
}
.skilldiv>div:nth-child(1)>h1,.skilldiv>div:nth-child(3)>h1{
    margin-left: 5%;
    line-height: 0.5em;
}
.skilldiv>div:nth-child(1)>li{
    line-height: 1.1em;
    font-size: large;
}
.skilldiv img{
    width: 100%;
    display: block;
    border-radius: 5px;
    transition: 0.25s;
}

/* .skilldiv img:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */
.techskills{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3%;
    padding-bottom: 10%;
}
.techskills>div{
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid white;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

.techskills>div:hover{
    background-color: white;
    box-shadow: rgba(221, 221, 221, 0.24) 0px 0px 15px;
    transform: rotate(3deg);
    scale: 1.1;
}

.techskills>.margin>a>img{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
}

/* -----------------------------------------------------------------------------------------------------contact---- */

.contact-section{
    height: 100vh;
    width: 100%;
    background-color: rgb(22, 22, 22);
    padding-top: 5%;
    background-image: url('./images/contactbg.jpeg');
    background-size: 100%;
    background-repeat: repeat;
}
.message{
    color: white;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 7%;
}
.message>p{
    font-style: italic;
    font-size: 80%;
}
.links{
    display: flex;
    width: 100%;
    margin-top: 5%;
}
.links>div{
    width: 15%;
    margin: auto;
    display: flex;
}
.links>div>div{
    width: 50%;
    /* border: 1px solid white; */
    display: block;
}

.links img{
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50px;
    display: block;
    margin: auto;
    padding: -10%;
}

.links img:hover{
    filter: drop-shadow(#ffffff 0px 0px 5px);
}

.email{
    color: white;
    width: 100%;
    margin-top: 5%;
}
.email>div{
    text-align: center;
}
.email a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

/* -----------------------------------------------------------------------------------------------------------github----- */

.github{
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 22, 22);
    padding-top: 2%;
    background-image: url('./images/bg3.jpeg');
    background-size: 100%;
    background-repeat: repeat;
    display: flex;
    align-items: center;
}

.github>div{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.github>div>div:nth-child(1){
    width: 30%;
}
.github>div>div:nth-child(2){
    width: 55%;
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2%;
    margin-top: 5%;
}

.github>div>div:nth-child(2)>div{
    margin-bottom: 7%;
}

.github>div>div:nth-child(2)>div>img{
    width: 100%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: 1px solid transparent;
    display: block;
    border-radius: 10px;
    transition: 0.25s;
}

.github>div>div:nth-child(1)>div:nth-child(1){
    /* border: 1px solid white; */
    color: white;
}

.github>div>div:nth-child(1)>div:last-child{
    background-color: white;
    margin: 2%;
    border-radius: 10px;
    padding-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.github>div>div:nth-child(1)>div>img:first-of-type{
    width: 80%;
    display: block;
    margin: auto;
    cursor: pointer;
}
.github>div>div:nth-child(1)>div>h2{
    text-align: center;
}
.github>div>div:nth-child(1)>div>h2>a{
    text-decoration: none;
    color: black;
}

.github>div>div:nth-child(1)>div>img:last-of-type{
    width: 90%;
    display: block;
    margin: auto;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.profilesummary{
    margin: auto;
    width: 80%;
    grid-column-start: 1;
    grid-column-end: 3;
}
.calendar{
    width: auto;
    margin: auto;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.github>div>div:nth-child(2)>div:nth-child(1),.github>div>div:nth-child(2)>div:nth-child(2){
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
}

.github>div>div:nth-child(2)>div:nth-child(3){
    border: none;
}

#github-top-langs{
    width: 85%;
    border: 1.5px solid white;
}

#github-streak-stats{
    width: 120%;
    border: 1.5px solid white;
}

.calendar span{
    color:white;
}

.calendar div{
    color: white;
}

#github-stats-card{
    display: none;
}

.react-activity-calendar{
    display: none;
}

section{
    display: none;
}

#hide{
    display: none;
}


/* -------------------------------------------------------------------------------------------------------- */

