@media all and (min-width:500px){
    .menu{
        display: none;
    }
}

@media all and (max-width:565px) and (min-width:300px){
    .scrollarea{
        height: 100vh;
        scroll-snap-type: none;
    }

    .scrollarea div{
        height: auto;
    }

    .scrollarea>div:nth-child(1){
        height: 100%;
    }

    .scrollarea>div:nth-child(2)>div:nth-child(2)>div{
        height: 30px;
        display: flex;
        margin-left: auto;
    }

    .nav>div:nth-child(3)>div>a>div{
        background-color: rgba(0, 0, 0, 0.788);
    }

    .home-section{
        background-size: cover;
        padding-top: 40%;
        padding-bottom: 40%;
    }

    .home-section,.about-section,.github,.projects-section,.skills-section,.contact-section{
        height:auto;
    }

    .about-section,.github,.projects-section,.skills-section{
        background-image: url('./images/bg9.jpg');
        background-size: 100%;
        background-repeat: repeat;
    }

    .home-section{
        background-image: url('./images/bg11.jpg');
        background-size: 100%;
        background-repeat: repeat;
    }

    .about{
        font-size: 90%;
    }

    .about-section{
        height: 55vh;
    }

    .about-section>div:nth-child(1){
        display: none;
    }

    .about-section>div:nth-child(2){
        width: 90%;
        margin: auto;
    }

    .github{
        height: 100vh;
    }

    .github>div>div:nth-child(2){
        margin-top: 10%;
    }

    .github>div>div:nth-child(2)>img:first-of-type{
        width: 100%;
    }

    .github>div{
        display: block;
        width: 90%;
        margin: auto;
    }

    .github>div>div:nth-child(2){
        width: 100%;
        /* border: 1px solid white; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5%;
    }

    .github>div>div:nth-child(1){
        width: 100%;
    }

    .github>div>div:nth-child(2)>div:nth-child(3){
        width: 100%;
        margin: auto;
    }

    .calendar>div>div>div:nth-child(1){
        overflow-x: scroll;
    }

    .calendar>div>div>div:nth-child(1)::-webkit-scrollbar{
        background-color: transparent;
        height: 2px;
    }

    .calendar>div{
        border: 1px solid white;
    }

    .gallery{
        grid-template-columns: repeat(1,1fr);
    }

    .gallery>div{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .image img{
        width: 70%;
    }

    .image{
        height: 50%;
    }

    .projects-section{
        height: auto;
        margin-bottom: 25%;
        font-size: 90%;
    }

    .skilldiv{
        grid-template-columns: repeat(1,1fr);
        height: auto;
    }

    .skills-section{
        height: auto;
        margin-bottom: 25%;
    }

    .skilldiv>div{
        padding-bottom: 15%;
    }

    .links>div{
        width: 25%;
    }

    .contact-section{
        font-size: 90%;
        padding-top: 20%;
    }

    .scrollarea{
        height: auto;
        padding-bottom: 20%;
    }

    .menu{
        display: flex;
        margin-left: auto;
        /* margin-bottom: 5%; */
    }

    .menu img{
        width: 100%;
    }
    .nav>div:nth-child(1){
        width: 50%;
        /* border: 1px solid white; */
    }

    .nav>div:nth-child(2){
        width: 40%;
        /* border: 1px solid yellow; */
        display: flex;
        align-items: center;
    }
    .nav>div:nth-child(3){
        position: absolute;
        /* border: 1px solid red; */
        width: 90%;
        margin: auto;
        margin-top: 15%;
    }
    .nav>div:nth-child(3)>div{
        display: none;
        /* border: 1px solid green; */
        width: min-content;
        margin-left: auto;
    }
    .nav>div:nth-child(3) a{
        margin: 0px;
        line-height: 0em;
    }

    .nav>div:nth-child(3) a>div{
        border: 1px solid white;
    }

    .nav h3{
        font-size: small;
    }

    .nav{
        height: 10vh;
        /* border: 1px solid white; */
        display: flex;
        flex-wrap: wrap;
        
    }

}

@media all and  (max-width:820px) and (min-width:565px){
    .gallery{
        grid-template-columns: repeat(2,1fr);
    }
    .gallery>div{
        height: auto;
    }
    .gallery img{
        margin-top: 3%;
        width: 80%;
    }
    .info p, .info li{
        font-size:small;
    }
    .scrollarea{
        /* height: 55vh; */
        /* border: 3px solid red; */
        scroll-snap-type: none;
    }
    .home-section,.about-section,.github,.projects-section,.skills-section,.contact-section{
        height:100%
    }
    .projects-section{
        height: auto;
    }
    .githubid>a{
        font-size: medium;
    }
    .skills-card{
        font-size: medium;
        height: auto;
    }
    .content2{
        font-size: small;
    }
    /* .content2>h1{
        margin-top: 2%;
    } */
    .skills-section{
        padding-top: 10%;
    }
    .skilldiv>div{
        padding-bottom: 0%;
        height: auto;
    }
    .skilldiv{
        height: auto;
    }
    .message{
        margin-top: 0%;
    }
    .contact-section{
        padding-top: 5%;
    }
}

@media all and (min-height: 517px){
    .scrollarea{
        height: 700px;

    }
    .home-section,.about-section,.github,.projects-section,.skills-section,.contact-section{
        height:100%
    }
}